div.message a {
	text-align: center;
	vertical-align: middle;
}

table.nemaki{
	border: 1px solid #B0C4DE;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 20px;
}

table.nemaki tr:nth-child(2n+1) {
	background: #F0FFFF;
}

table.nemaki td{
	padding: 5px;
	border-bottom: 1px solid #B0C4DE;
	border-left: 1px solid #B0C4DE;
}


div.hide{
	display:none;
}

div.clear{
	clear:both;
}

.jqgrid-header { 
    background:#FF9C00;
    border:1px solid #4297D7;
    color:#FF0000;
    font-weight:bold;
  }
